<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleExecutable</key>
        <string>@EXECUTABLE@</string>
        <key>CFBundleGetInfoString</key>
        <string>@EXECUTABLE@ (C) 2013-2019 Jürgen Mülbert</string>
        <key>CFBundleIconFile</key>
        <string>@ICON@</string>
        <key>CFBundleIdentifier</key>
        <string>@BUNDLEIDENTIFIER@</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>@SHORT_VERSION@</string>
        <key>CFBundleVersion</key>
        <string>@FULL_VERSION@</string>
        <key>CSResourcesFileMapped</key>
        <true/>
        <key>NSHumanReadableCopyright</key>
        <string>(C) 2013-2019 Jürgen Mülbert</string>
        <key>NSHighResolutionCapable</key>
        <string>True</string>
    </dict>
</plist>