# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file.
root = true

# -----------------
# Source code
# -----------------
# C++
# Python
# CMake
[*.{cpp,h,py,txt,frag,vert}]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[Makefile]
indent_style = tab

[*.{bat,cmd}]
end_of_line = crlf
