# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
# ------------------
# Source code
# ------------------
[*]
end_of_line = lf
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Indentation override for all JS under lib directory
[*.{js,json,vue,scss,rb,haml,yml,yaml}]
indent_size = 2

[*.{js,json,vue,scss,rb,haml,yml,md}]
indent_style = space
charset = utf-8

# Source code files
[*.{c,cxx,cpp,h,hxx,hpp,java,m,mm,py,swift,xsl}]
indent_style = space
indent_size = 2

[CMakeLists.txt,*.cmake{,.in}]
indent_size = 2
indent_style = space

# Matches multiple files with brace expansion notation
# Set default charset
[*.py]
indent_size = 4

[*.rst]
indent_size = 3

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

[*.{bat,cmd}]
end_of_line = crlf

[*.{md,markdown,js.snap}]
trim_trailing_whitespace = false
