/app/assets/javascripts/locale/**/app.js

/fixtures/lib/gitlab/graphql/
/node_modules/
/public/
/vendor/
/tmp/
/sitespeed-result/
/.mypy_cache/
/build/
.clang-tidy
pnpm-lock.yaml
yarn.lock
docs/.gitpod.yml
docs/node_modules
docs/.changeset
docs/pnpm-lock.yaml
docs/yarn.lock
*.md
*.mdx
*.ts
*.wxs
CMakeLists.txt
compile_commands.json
CONTRIBUTORS
LICENSE
LICENSES/
project-words.txt
cppcheck_suppressions.txt
conanfile.py

out
build
image
dist
bin
.vscode-test

Pipfile.lock
