# Benchmark artifacts
benchmark/projects/
benchmark/results/

# Deep Directories
**/dist
**/build
**/smoke
**/node_modules
**/fixtures
**/vendor
**/.vercel

# Short-term need to format
!packages/db/test/fixtures

# Directories
.venv
.github
.changeset
megalinter-reports

# Files
pnpm-lock.yaml

# Formatted by Biome
**/*.json
**/*.js
**/*.ts
**/*.tsx
**/*.jsx
**/*.mjs
**/*.cjs

# vale configs
.github/styles/vale/**
