alabaster==0.7.12
appdirs==1.4.4
Babel==2.10.1
breathe==4.33.1
certifi==2021.10.8
cfgv==3.3.1
chardet==4.0.0
distlib==0.3.4
docutils==0.18.1
filelock==3.7.0
graphviz==0.20
identify==2.4.12
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.3
Jinja2==3.1.2
MarkupSafe==2.1.1
nodeenv==1.6.0
packaging==21.3
pre-commit==2.18.1
Pygments==2.12.0
pyparsing==3.0.9
pytz==2022.1
PyYAML==6.0
requests==2.27.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
urllib3==1.26.9
virtualenv==20.14.1
zipp==3.8.0
