alabaster==0.7.12
appdirs==1.4.4
Babel==2.9.0
breathe==4.25.1
certifi==2020.12.5
cfgv==3.2.0
chardet==4.0.0
distlib==0.3.1
docutils==0.16
filelock==3.0.12
graphviz==0.16
identify==1.5.10
idna==2.10
imagesize==1.2.0
importlib-metadata==3.3.0
Jinja2==2.11.2
MarkupSafe==1.1.1
nodeenv==1.5.0
packaging==20.8
pre-commit==2.9.3
Pygments==2.7.3
pyparsing==2.4.7
pytz==2020.5
PyYAML==5.3.1
requests==2.25.1
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.4.1
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.2
urllib3==1.26.2
virtualenv==20.2.2
zipp==3.4.0
