# Don't count the translation files in the language stats
translations/*      linguist-vendored

*                   text=auto

# Source files
*.cpp               text eol=lf
*.h                 text eol=lf
*.ui                text eol=lf
*.py                text eol=lf
*.coffee            text eol=lf
*.js                text eol=lf
*.scss              text eol=lf
*.css               text eol=lf
*.html              text eol=lf
*.md                text eol=lf
*.rst               text eol=lf
*.text              text eol=lf
*.yml               text eol=lf
*.po                text eol=lf
# Fix GitHub thinking our translations are TypeScript
*.ts                linguist-language=XML eol=lf

# fix bootstrap.sh on Windows MSYS
*.sh                text eol=lf
*.bat               text eol=crlf

# Files that are truly binary and should not be modified
*.png               binary
*.jpg               binary
*.ico               binary
*.svg               binary
*.ttf               binary
*.woff              binary
*.mo                binary

.tag                export-subst
.gitignore          export-ignore
.gitattributes      export-ignore
.mailmap            export-ignore
.tx                 export-ignore
.LICENSE-HEADER     export-ignore
.travis.yml         export-ignore
