Source: https://github.com/jmuelbert/jmbde-QT
Version: ${ver}
Installed-Size: ${size}
Maintainer: Jürgen Mülbert <juergen.muelbert@gmail.com>
Section: business
homepage: http://jmuelbert.github.io/jmbde-QT
Vcs-Browser: http://jmuelbert.github.io/jmbde-QT
Vcs-Git: http://jmuelbert.github.io/jmbde-QT.git
Architecture: amd64
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Uploaders: Jürgen Mülbert <juergen.muelbert@gmail.com>
Build-Depends:  debhelper (>=11),
                cmake (>=3.13~),
                ninja-build,
                qtbase5-dev (>= 5.12.4~),
                qtdeclarative5-dev (>= 5.12.4~),
                qttools5-dev (>= 5.12~),
                qttools5-dev-tools (>= 5.12.4~),
                libqt5svg5-dev (>= 5.12.4~),
                Standards-Version: 4.5.0


Package: jmbde-QT
Architecture: any
Depends:
 hicolor-icon-theme,
 libqt5svg5 (>= 5.12.0~),
 ${shlibs:Depends},
 ${misc:Depends},
Suggests:
    c-certificates
Description: A BDE tool
