[Desktop Entry]
Type=Application
Version=1.0
Exec=jmbdequick %F
Name=jmbdequick
GenericName=Company Collector
Comment=application to collect data in a company
Icon=jmbdequick
Terminal=false
Categories=X-Tool;X-Business;X-Qt;
