Source: bde
Section: unknown
Priority: extra
Maintainer: Jürgen Mülbert <juergen@unknown>
Build-Depends: debhelper (>= 8.0.0), qtbase5-dev (>= 5.0.1), qt5-qmake (>= 5.0.1), qt5-default (>= 5.0.1), qttools5-dev-tools (>= 5.0.1)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/bde.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/bde.git;a=summary

Package: bde
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
