IDI_ICON1               ICON    DISCARDABLE     "jmbde-icon.ico"

#include <winver.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION     RC_VERSION
 PRODUCTVERSION  RC_VERSION
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E0" // US English - Windows, Multilingual
        {
            VALUE "FileDescription", "jmbde"
            VALUE "FileVersion", STRINGIFY(RC_VERSION_STRING)
            VALUE "ProductName", "jmbde\0"
            VALUE "ProductVersion", STRINGIFY(RC_VERSION_STRING)
            VALUE "LegalCopyright", STRINGIFY(RC_COPYRIGHT)
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1252
    }
}
