#include <windows.h>

#define STRINGIFY1(x) #x
#define STRINGIFY(x) STRINGIFY1(x)

IDI_ICON1   ICON    DISCARDABLE "images/jmbde-icon.ico"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION     0,4,21,20
    PRODUCTVERSION  0,4,21,20
    FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
    FILEFLAGS       0
    FILEOS          VOS_NT_WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     VFT2_UNKNOWN    
    {
        BLOCK "StringFileInfo"
        {
            // U.S. English - Windows, Multilingual
            BLOCK "040904E4"
             {
                VALUE "CompanyName", "Jürgen Mülbert\0"
                VALUE "FileDescription", "jmbde\0"
                VALUE "FileVersion", "0.4.21\0"
                VALUE "InternalName", "jmbde\0"
                VALUE "ProductName", "jmbde\0"                                
                VALUE "OriginalFilename", "jmbde.exe\0"
                VALUE "ProductVersion", "0.4.21\0"
                VALUE "LegalCopyright", "(c) 2013-2018 Jürgen Mülbert"
              }
          }
          BLOCK "VarFileInfo"
          {
              VALUE "Translation", 0x409, 1252 // 1252 = 0x04E4
          }
      }
