[Desktop Entry]
Version=1.0
Type=Application
Name=jmbde
GenericName=jmbde
Comment=A BDE Tool
Exec=jmbde
Icon=jmbde
Terminal=false
Categories=Qt;Office;Database;
StartupNotify=false
StartupWMClass=jmbde
