[Desktop Entry]
Name=jmbde
GenericName=jmbde
;Exec=@LAUNCHER_EXECUTABLE@
Exec=jmbde
Icon=org.jmuelbert.jmbde
Terminal=false
Type=Application
Categories=Business
StartupNotify=false
StartupWMClass=jmbde
