name: "CI Build Linux - Debian Package"

on:
    push:
        branches:
            - master
            - develop
        paths-ignore:
            - "README.md"
            - "LICENSE"

    pull_request:
        paths-ignore:
            - "README.md"
            - "LICENSE"
    release:
        types: [published]
env:
    CMAKE_VERSION: 3.18.3
    NINJA_VERSION: 1.10.0

jobs:
    check_commit_msg:
        outputs:
            commit_message: ${{ steps.get_message.outputs.message }}
        name: Check if the workflow has been disabled.
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Get commit message
              id: get_message
              run: |
                  echo "::set-output name=message::$(git log --format=%B -n 1 ${{ github.event.after }})"
                  echo "::set-env name=message::$(git log --format=%B -n 1 ${{ github.event.after }})"
    linux:
        strategy:
            fail-fast: false
            matrix:
                qt_version: [5.12.9, 5.15.1]
                distro: [stable, testing, sid]
                arch: [x64]
                build_type: [Release]

        needs: check_commit_msg
        if: ${{ !contains( needs.check_commit_msg.outputs.commit_message, 'NO_DEB') }}
        name: Debian ${{ matrix.distro }}
        runs-on: ubuntu-latest
        container: debian:${{ matrix.distro }}


        steps:
            - name: Install git
              run: |
                apt-get update
                apt-get install -y git

            - name: Get the version
              id: get_version
              shell: bash
              run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)

            - name: Checking out sources
              uses: actions/checkout@v2
              with:
                submodules: 'recursive'


            - name: Install build dependencies
              run: |
                apt-get install -y build-essential ninja-build qtbase5-dev qttools5-dev cmake pkgconf bash

            - name: conan_and_ecm
              id: conan_and_ecm
              run: |
                python -m pip install conan
                conan user
                conan create ./conan/ecm

            # === Linux Build =====================================
            - name: Linux - ${{  matrix.qt_version }} - Generate Dependencies and Build
              shell: bash
              env:
                CC: /usr/bin/gcc-7
                CXX: /usr/bin/g++-7
                CMAKE_MAKE_PROGRAM: ninja
              run: |
                mkdir build
                cd build
                conan install ..
                cmake .. -DCMAKE_INSTALL_PREFIX=./appdir/usr -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
                cmake --build . --parallel $(nproc)
                cmake --install .

            - name: Get package name
              shell: bash
              id: get-package
              run: |
                echo ::set-output name=NAME::$(basename build/jmbde-*.deb)

            - name: Upload artifact
              uses: actions/upload-artifact@v2-preview
              with:
                name: jmbde-${{ steps.get_version.outputs.VERSION }}-debian-${{ matrix.distro }}.deb
                path: build/${{ steps.get_package.outputs.NAME }}

            - name: Upload binaries to release
              uses: svenstaro/upload-release-action@v1-release
              if: github.event_name == 'release'
              with:
                repo_token: ${{ secrets.GITHUB_TOKEN }}
                file: build/${{ steps.get_package.outputs.NAME }}
                asset_name: jmbde-${{ steps.get_version.outputs.VERSION }}-debian-${{ matrix.distro }}.deb
                tag: ${{ github.ref }}
                overwrite: true
